body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  .calcApp {
    background: linear-gradient(16deg, rgba(121,120,9,0.9951330874146533) 51%, rgba(255,16,0,1) 100%);
    height: 100vh;
    padding-top: 100px;
    .calculator {
      padding: 20px;
      width: 335px;
      height: 400px;
      margin: 0 auto;
      display: table;
      position: relative;
      overflow: hidden;
      .viewer {
        width: 55%;
        height: 50px;
        font-size: 35px;
        text-align: right;
        padding: 15px 30px;
        position: absolute;
        right: 20px;
        overflow: hidden;
      }
      .buttons {
        button {
          background: rgba(101, 116, 27, 0.3);
          cursor: pointer;
          display: inline-block;
          width: 60px;
          height: 70px;
          margin: 10px;
          border-radius: 10px;
          color: #fff;
        }
      }
    }
  }
}